<template>
  <div class="page-login-content">
    <div class="row logo" align-items-center>
      <div class="col">
        <img class="img-logo" src="../assets/Logo@2x.png" name="logo"/>
        <img class="img-company-name" src="../assets/title@2x.png" name="活动分发中心">
      </div>
    </div>
    <div class="login-from-panel">
      <mt-field placeholder="请输入您的工号/手机号" type="text" v-model="username"></mt-field>
      <mt-field placeholder="请输入您的密码" type="password" v-modal="password"></mt-field>
      <mt-field placeholder="验证码" v-model="captcha">
        <img height="45px" width="100px">
      </mt-field>
      <mt-button class="save" type="primary" size="large" @click="save()">登录</mt-button>

      <mt-button class="save" type="primary" size="large" @click="qc()">摄像头</mt-button>
    </div>
    <div class="row reg-link">
      <div class="col">
        <router-link to="/home">新用户注册</router-link>
      </div>
      <div class="col">
        <router-link to="/home">修改密码</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import {native} from "../util/native";

  export default {
    name: "login",
    data() {
      return {
        username: '',
        password: '',
        captcha: '',
      }
    },
    methods: {
      save() {
        // this.$router.push("/home");
        console.log("0000000");
      },
      qc() {
        native.qc();
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '../style/common.scss';
  @import '../style/pages/login.scss';
</style>

