/**************************init*********************************/
html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
  outline: none;
}

textarea {
  resize: none !important;
}

table,
tr,
th {
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type=text]::-ms-clear {
  display: none
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}

input[type=number]:focus,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  outline: none;
}

a {
  text-decoration: none;
}

/*滚动条*/

::-webkit-scrollbar {
  width: 6px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.01);
}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
}

/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgba(255, 255, 255, 0.1);
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.m-t-d {
  margin-top: 1rem;
}

.m-b-d {
  margin-bottom: 1rem;
}

@import '../style/color.scss';
@import '../style/layout.scss';
/************************** bg ********************************/

/************************** icon *********************************/
.icon {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  &.small {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.jg-margin-d {
  height: 1rem;
  background-color: $bgColor;
}

.jg-div {
  height: 5rem;
  background-color: $bgColor;
}

/********************************************************/

.mark-span {
  position: relative;
  i.mark {
    font-style: normal;
    font-size: 1rem;
    font-weight: normal;
    color: $white;
    display: inline-block;
    position: absolute;
    top: -7px;
    right: -10px;
    height: 10px;
    background-color: $orange;
    padding: 0px 3px;
    border-radius: 5px;
  }
}

.mark-panel {
  position: absolute;
  right: 0;
  top: 10px;
  width: 4.8rem;
  height: 1.6rem;
  line-height: 1.8rem;
  text-align: center;
  color: $white;
  padding-left: 2px;
}

.title-panel {
  height: 6rem;
  padding: 0 1.6rem;
  span.title {
    font-size: 1.6rem;
    color: $black;
    font-weight: 600;
  }
  i.small {
    margin-left: 0.5rem;
  }
}

.handout-list {
  .item {
    background-color: $white;
    position: relative;
    .top {
      padding: 1.6rem;
      .left {
        img {
          width: 8rem;
          height: 8rem;
        }
      }
      .right {
        height: 8rem;
        padding-left: 1rem;
        .row1 {
          height: 6rem;
          .title {
            font-size: 1.5rem;
            color: $black;
            font-weight: bold;
          }
          .date {
            font-size: 1.2rem;
            color: $grey;
          }
        }
        .num {
          span {
            font-size: 1.2rem;
          }
          .s1 {
            color: $grey;
            margin-right: 1rem;
          }
          .s2 {
            color: $orange;
          }
        }
      }
    }
    .bottom {
      height: 4.8rem;
      margin-left: 1.6rem;
      border-top: 1px solid $borderColor;
      .icon {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 2.4rem;
        margin-right: 0.8rem;
      }
      .icon-next-gray {
        background-size: 7px;
        margin-left: 0.5rem;
      }
    }
  }
}

.get-more-panel {
  font-size: 1.4rem;
  background-color: $white;
  height: 4.8rem;
  text-align: center;
  color: $blue;
  span {
    display: inline-block;
    line-height: 4.8rem;
  }
  i {
    background-size: 7px;
    margin-bottom: -5px;
  }
}

.get-more-all-panel {
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 1.4rem;
  background: #FFFFFF;
  box-shadow: 0 -2px 6px 0 rgba(54, 60, 71, 0.08);
  height: 4.8rem;
  text-align: center;
  color: $blue;
  span {
    display: inline-block;
    line-height: 4.8rem;
  }
  i {
    background-size: 2rem;
    margin-bottom: -4px;
  }
}

/**
iphoneX 特殊处理
 */

@media only screen and (device-width: 375px) and (device-height: 812px) and(-webkit-device-pixel-ratio: 3) {

}
