.page-login-content {
  .logo {
    height: 20rem;
    img {
      margin: 0 auto;
      display: block;
    }
    img.img-logo {
      width: 8.5rem;
      height: 8.5rem;
    }
    img.img-company-name {
      width: 15.4rem;
      height: 2.4rem;
      margin-top: 2.4rem;
    }
  }
  .login-from-panel {
    padding: 2rem;
    .save {
      margin-top: 2.4rem;
      background-color: $blue;
    }
    input {
      font-size: 1.5rem;
    }
  }
  .reg-link {
    font-size: 1.4rem;
    padding: 0 2.4rem;
    a {
      color: $blue;
    }
    .col:first-child {
      text-align: left;
    }
    .col:last-child {
      text-align: right;
    }
  }
}
