<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'App',
    mounted: function () {
      this.resetFontsize();
    },
    methods: {
      /**
       *
       * 重置页面基本字体大小
       * @memberof MyApp
       */
      resetFontsize() {
        var scale,
          ui_width = 750,
          getWidth = document.documentElement.clientWidth,
          _html = document.getElementsByTagName('html')[0];
        scale = getWidth / ui_width;
        if (getWidth >= 768) {
          _html.style.fontSize = "14px";
        } else {
          _html.style.fontSize = scale * 20 + "px";
        }
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F5F7FA;
    height: 100%;
  }
</style>
